---
import "../styles/global.css";

const {
  title = "mysbti.fun",
  description = "mysbti.fun",
} = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="selection:bg-black selection:text-white">
    <slot />
  </body>
</html>
